main{
    margin-top: 10px;
    margin-bottom: 25px;
    width: 100%;
}

table.selected-user-table{
    padding: 10px;
    width: 95%;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #fcca46;
    box-shadow: 3px 2px 5px rgba(0,0,0,.7);
    border: 1px solid black;
}

table.selected-user-table th{
    font-size: 16px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 2px dashed rgb(0, 0, 0);
    width: 100%;
    text-align: left;
}

table.selected-user-table tr{
    display: flex;
    flex-direction: row;
    margin-bottom: 2px;
}

table.selected-user-table td{
    flex: 1;
    font-size: 12px;
    padding: 2px;
}

table.selected-user-table td:nth-child(1){
    text-align: center;
}

.selected-user-table .button-group{
    display: flex;
    align-items: center;
    justify-content: center;
}

.selected-user-table .button-container{
    width: 150px;
}

.selected-user-details button{
    width: 100%;
    height: 25px;
    border-radius: 8px;
    margin-top: 10px;
    background-color: #4f6d7a;
    border: 1px solid black;
    color: white;
}

@media only screen and (min-width: 500px) {

    table.selected-user-table, .selected-user-table .button-group{
        width: 400px;
        margin: 5px auto;
    }

    table.selected-user-table{
        padding: 25px;
        border-radius: 8px;
        background-color: #fcca46;
        box-shadow: 3px 2px 4px rgba(0,0,0,.7);
        border: 1px solid black;
        width: 375px;
        font-size: .75rem;
    }

    .button-container button:link, 
    .button-container button:visited, 
    .button-container button:hover, 
    .button-container button:active{
        color: white;
    }
  }