main{
    margin-top: 10px;
    margin-bottom: 25px;
    width: 100%;
}

table.event-details{
    padding: 10px;
    width: 95%;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #fcca46;
    box-shadow: 3px 2px 5px rgba(0,0,0,.7);
    border: 1px solid black;
}

table.event-details th{
    font-size: 16px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 2px dashed rgb(0, 0, 0);
    width: 100%;
    text-align: left;
}

table.event-details tr{
    display: flex;
    flex-direction: row;
    margin-bottom: 2px;
    /*flex-direction: column*/
}

table.event-details td{
    flex: 1;
    font-size: .7em;
    padding: 2px;
}

.button-group{
    display: flex;
    justify-content: center;
}

.button-container:nth-child(1){
    margin-right: 10px;
}

.button-container:nth-child(2){
    margin-left: 10px;
}

.event-details-container button{
    font-size: .9em;
    width: 110px;
    background-color: #fcca46;
    border: 1px solid black;
    color: black;
}

@media only screen and (min-width: 500px) {

    table.event-details, .event-details-container .button-group{
        width: 500px;
        margin: 5px auto;
    }

    table.event-details{
        padding: 25px;
        font-size: 22px;
        border-radius: 8px;
        background-color: #fcca46;
        box-shadow: 3px 2px 5px rgba(0,0,0,.7);
        border: 1px solid black;
    }

    .event-details-container .button-group{
        justify-content: space-between;
    }

    .event-details-container .button-group button{
        justify-content: space-evenly;
        width: 200px;
        background-color: #fcca46;
    }

    .button-container button:link, 
    .button-container button:visited, 
    .button-container button:hover, 
    .button-container button:active{
        color: black;
    }
  }