.user-dashboard{
    display: flex;
    flex-direction: column;
    font-size: .7rem;
}

.user-details{
    width: 200px;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #fcca46;
    color: black;
    box-shadow: 3px 2px 5px rgba(0,0,0,.6);
}

.user-details .button-container{
    width: 100%;
}

.user-details button{
    font-size: 1.2em;
    letter-spacing: .75px;
}

.user-upcoming-events{
    margin: 0 auto;
    padding: 2px;
    margin-top: 15px;
    width: 100%;
    color: white;
}

table.user-details-table{
    padding: 10px;
    background-color: #fcca46;
    border-radius: 8px;
}

table.user-details-table th{
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 2px dashed rgb(0, 0, 0);
    width: 100%;
    text-align: left;
    font-size: .85rem;
}

table.user-details-table tr{
    display: flex;
    flex-direction: row;
    margin-bottom: 2px;
}

table.user-details-table td{
    flex: 1;    
    padding: 2px;
}

table.user-details-table td:nth-child(2){
    flex: 1;
    padding-left: 5px;
}

.user-details table{
    margin: 0 auto;
    padding: 2px;
    width: 100%;
}

.user-details th{
    width: 100%;
}

/* UPCOMING EVENTS TABLE */

.user-upcoming-events-table{
    display: block;
    width: 100%;
    border-collapse: collapse;
}

.user-upcoming-events-table thead{
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 8px;
    font-size: 1.4em;
}

.user-upcoming-events-table tbody{
    display: block;
    width: 100%;
}

.user-upcoming-events-table tbody th{
    padding: 5px;
    width: 100%;
    font-size: 1.2em;
}

.user-upcoming-events-table th{
    text-shadow: 1px 1px 2px rgba(0,0,0,.8);
}

.user-upcoming-events-table tbody tr{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-top: 5px;
    font-size: 1.1em;
}

.user-upcoming-events-table tbody tr td{
    flex: 1;
    padding-left: 2px;
    text-align: center;
}

.action-btn{
    margin-top: 0;
    background-color: #fcca46;
    width: 70px;
    padding: 3px;
    border: 1px solid black;
    border-radius: 0;
    height: auto;
    font-size: .74em;
    color: black;
} 

.action-btn:link, .action-btn:visited, .action-btn:hover, .action-btn:active{
    color: black;
} 

.action-btn:hover{
    box-shadow: 1px 1px 3px rgba(0,0,0,.6);
} 

.m-hide{
    display: none;
}

@media only screen and (min-width: 320px) {
    .user-details{
        width: 300px;
        padding: 2px;
        font-size: 1em;
        font-weight: bold;
    }

    .user-details thead th{
        font-size: 1.5em;
        font-weight: bold;
    }
}

@media only screen and (min-width: 500px){
    .user-details{
        width: 375px;
        padding: 25px;
        border: 1px solid black;
        font-size: .75rem;
    }

    .action-btn{
        width: 75px;
        font-size: .8em;
    } 

    .user-upcoming-events{
        width: 70%;
    }
}

@media only screen and (min-width: 700px){
    .m-hide{
        display: inline-block;
    }
}

@media only screen and (min-width: 950px) {

    .user-upcoming-events-table tbody th{
        font-size: .9rem;
    }

    .user-upcoming-events-table thead th{
        font-size: 1rem;
    }

    .user-dashboard{
        flex-direction: row;
        font-size: .8rem;
    }

    .user-upcoming-events{
        flex: 3;
        margin-top: 0;
        margin-left: 25px;
    }

    .user-details{
        flex: 2;
    }
    
    table.user-details-table{
        padding: 10px;
    }

    table.user-details-table th{
        font-size: 1rem;
    }
    

/* UPCOMING EVENTS TABLE */

.user-upcoming-events-table{
    display: block;
    width: 100%;
    border-collapse: collapse;
}
.user-upcoming-events-table thead{
    display: inline-block;
    width: 100%;
    margin-bottom: 8px;
}

.user-upcoming-events-table tbody tr td{
    flex: 1;
    padding-left: 2px;
    text-align: center;
}

.action-btn{
    font-size: .85em;
    width: 90px;
}
}