#search-form{
    padding: 10px;
    width: 100%;
}

.search-type{
    margin-right: 15px;
}

.search-type-label{
    display: block;
}

#event-date-search:disabled{
    background-color: white;
    border: none;
}

#search{
    width: 100%;
}

#search-form input[type="radio"]{
    vertical-align: middle;
    margin-right: 10px;
}

.events-list{
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    border-radius: 4px;
}

.events-list li{
    list-style-type: none;
    margin-bottom: 8px;
}

label[for="search"]{
    font-size: 1.3rem;
}

.events-list h2{

}

/* EVENTS LIST TABLE */
.events-list-table{
    display: block;
    width: 100%;
    border-collapse: collapse;
}

.events-list-table tbody{
    display: block;
    width:100%;
}

.events-list-table tbody th{
    padding: 5px;
    width: 100%;
}

.events-list-table tbody tr{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid lightgray;
}

.events-list-table tbody tr:nth-child(even){
    background-color: #dd6e42;
}

.events-list-table tbody tr td{
    flex: 1;
    padding-left: 2px;
    text-align: center;
}

.events-list-table thead th{

}

.events-list-table thead{
    display: inline-block;
    width: 100%;
    margin-bottom: 8px;
}

.searchCaseSensitive{
    font-size: .7rem;
}

@media only screen and (min-width: 500px) {
    #search-form{
        width: 700px;
        padding: 20px;
    }

    #search-form input{
        height: 30px;
    }
    #search-form input[type="radio"]{
        width: 14px;
    }

    .events-list{
        margin-top: 15px;
    }

    .events-list h2{
        margin-bottom: 10px;
        text-align: center;
        display: block;
        width:100%;
    }
/* EVENTS LIST TABLE */

.events-list-table tbody th{

}
.events-list-table tbody td{
}

.events-list-table tbody tr{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;


}

.events-list-table tbody tr td{
    flex: 1;
    padding-left: 2px;
    text-align: center;
}

.events-list-table thead th{
    font-size: 28px;
}

}
